.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: aliceblue;
  padding: 15px;
  border: 5px solid #1E1E24 ;
  border-radius: 5px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear alternate-reverse;
  }
}

.App-header {
  background-color: #1E1E24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    background-color: none;
    border-radius: 20%;

  }
  10%{
    border: 5px solid #1E1E24 ;
  }
  100% {
    border-color: white;
    border-radius: 50%;
  }
}
